h3 {
  color: lightcoral;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.subHeader {
  color: black;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.strong {
  font-weight: bold;
}

.nav {
  &-link {
    color: gray;
    &.active {
    color: dodgerblue;
    }
    &:hover {
      color: dodgerblue;
    }
  }
}

.navbar {
  background-color: lightgrey;
  &-text {
    font-size: 0.75rem;
    color: lightcoral;
  }
  &-icon-bar {
    width: 2rem;
    height: 0.25rem;
    background-color: dimgrey;
    margin: 0.25rem 0;
  }
}

footer {
  line-height: 2rem;
  background-color: lightgrey;
}

.mb_pageSection {
  margin-bottom: 1rem;;
}